# ----------------------------------------------------------------------
# Start rewrite engine
# ----------------------------------------------------------------------
RewriteEngine On

# frontController
RewriteCond %{REQUEST_URI} !^/_assets/ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule  .* index.php  [L,QSA]
